.container_contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.contact_logo{
    display: inline-block;
    height: 60px;
    width: 60px;
    color: white;
    background: rgb(110, 110, 110);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.contact_logo strong{
    color: white;
    font-size: 28px;
    font-weight: 800;
    font-style: normal;
}

.contact_name strong{
    font-size: 26px;
    font-weight: 500;
}

.contact_block{
    padding: 10px 15px 10px 15px;
    background: rgb(160, 159, 159);
    border-radius: 10px;
    width: 40%;
    margin-top: 20px;
}

.block_title{
    color: rgb(233, 233, 233);
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 3px;
}

.block_text{
    color: rgb(113, 113, 233);
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
}

.contact_button {
    background: blue;
    border: solid 1px rgba(85, 85, 85, 50);
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    width: 20%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 40px;
}

.width{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_button_del {
    background: red;
    border: solid 1px rgba(85, 85, 85, 50);
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    width: 20%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}