.container_contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;

    position: absolute;
    top: 20%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
}

.contact{
    width: 100%;
    padding: 8px 20px 8px 20px;
    border-bottom: solid 1px rgb(97, 97, 97, 40);
}

.search{
    width: 95%;
}

.contact_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.add_contact_button{
    border: none;
    background: transparent;
    border-radius: 50%;
    color: blue;
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
}