.container_contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

.contact{
    width: 80%;
    padding: 8px 20px 8px 20px;
    border-bottom: solid 1px rgb(97, 97, 97, 40);
}

.search{
    width: 95%;
}

.contact_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 80%;
}

.add_contact_button{
    border: none;
    background: transparent;
    border-radius: 50%;
    color: blue;
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
}

@media (max-width: 501px) {
    .contact{
        width: 90%;
    }
    .contact_menu{
        width: 90%;
    }
}